
.AppTop{
    background-color: var(--primary);
    width: 100%;
    font-size: 0.875rem;
    color: var(--color-white);
    text-align: center;
    height: var(--heightOfAppTop);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
    /* position: relative;
    overflow: hidden; */
}


.appTopSlide{
    /* position: absolute;
    width: 1000px; */
}

@media screen and (max-width: 1004px){
    .appTopSlide{
        /* color: rebeccapurple;
        left: 0; */
    }
}

@keyframes marquee {
    
}