
.MainFooter{
    background-color: var(--dark);
    min-height: 424px;
    color: var(--color-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.MainFooter .logo{
    gap: 0.5rem;
}

.mainFooter .logoButton button{
    width: 30px;
}

.MainFooter .logoText{
    font-size: 36px;
}

.mainFooterBody{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 80vw;
}

.footerIconsAndLogo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.footerIconWrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footerIcon{
    background-color: var(--color-white);
    width: 64px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLinkWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.flooterLinksColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.footerLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--color-white);
}

.copyright{
    width: 75vw;
    min-height: 59px;
    border-top: 1px solid #ffffff25;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


@media screen and (max-width: 1200px) {
    .footerIconsAndLogo{
        flex-direction: row;
    }
    .mainFooterBody{
        flex-direction: column;
        gap: 2rem;
    }
}


@media screen and (max-width: 750px) {
    .MainFooter .logo{
        gap: 0.25rem;
    }
    
    .mainFooter .logoButton img{
        width: 20px;
    }
    
    .MainFooter .logoText{
        font-size: 28px;
    }

    .footerIcon{
        width: 36px;
    }

    .footerLinkWrapper{
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .copyright{
        width: 90vw;
    }
}