:root {
    /* Global variables to be defined here */
    --color-white: #ffffff;
    --primary: #2AA8FF;
    --dark: #102851;
    background: rgb(232,241,255);
    --color-green: #02A401;
    --color-grey: #414146;


    --heightOfAppTop: 40px;
    --heightOfMainNav: 6rem;
    --appWidth: 1170px;
    --gradientBackground: linear-gradient(90deg, rgba(232,241,255,1) 47%, rgba(231,240,255,1) 100%);

    background: var(--gradientBackground)
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  #root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }

  a{
    text-decoration: none;
    color: inherit;
  }